//screen resolutions

$sm: 420px; //small
$md: 767px; //medium
$lg: 1200px; //large


$fontExo2: 'Exo-2', 'Arial', sans-serif;
$font-family-base: 'Trebuchet MS', 'Arial', sans-serif;


$colorProductCard: #1698d9;
$colorProductCard--hover: #2ea8e6;
$colorProductCard--selected: #d91667;
$colorProductCard--selectedHover: #e62e7a;
$colorProductCard--disabled: #b3b3b3;
$colorProductCard-bg: #f2f2f2;
$colorProductCard-signature--disabled: #ffff66;

$colorGray: #666;
$colorBlack: #000;
$colorWhite: #fff;