-
  var productData = [
    {
      "label" : "Сказочное заморское яство",
      "name" : "Нямушка",
      "taste" : "c фуа-гра",
      "quantity" : "10",
      "quantityMeasure" : " порций",
      "bonus" : "",
      "bonusMeasure" : "мышь в подарок",
      "weight" : "0,5",
      "weightMeasure" : "кг",
      "customerState" : "заказчик доволен",
      "signature" :  {
        "default" : "Чего сидишь? Порадуй котэ, ",
        "defaultBtn" : "купи",
        "selected" : "Печень утки разворная с артишоками",
        "disabled" : "Печалька, с фуа-гра закончился"
      },
      "available" : true
    },
    {
      "label" : "Сказочное заморское яство",
      "name" : "Нямушка",
      "taste" : "c рыбой",
      "quantity" : "40",
      "quantityMeasure" : " порций",
      "bonus" : "2",
      "bonusMeasure" : " мыши в подарок",
      "weight" : "2",
      "weightMeasure" : "кг",
      "customerState" : "заказчик доволен",
      "signature" :  {
        "default" : "Чего сидишь? Порадуй котэ, ",
        "defaultBtn" : "купи",
        "selected" : "Головы щучьи с чесноком, да свежайшая сёмушка",
        "disabled" : "Печалька, с рыбой закончился"
      },
      "available" : true
    },
    {
      "label" : "Сказочное заморское яство",
      "name" : "Нямушка",
      "taste" : "c курой",
      "quantity" : "100",
      "quantityMeasure" : " порций",
      "bonus" : "5",
      "bonusMeasure" : " мышей в подарок",
      "weight" : "5",
      "weightMeasure" : "кг",
      "customerState" : "заказчик доволен",
      "signature" :  {
        "default" : "Чего сидишь? Порадуй котэ, ",
        "defaultBtn" : "купи",
        "selected" : "Филе из цыплят с трюфелями в бульоне.",
        "disabled" : "Печалька, с курой закончился"
      },
      "available" : false
    }
  ]

mixin product-card(data)
  for items in data
    if (!items.available)
      figure.product-card&attributes({class : "product-card_disabled"})
        include card-content
    else
      figure.product-card
        include card-content

+product-card(productData)