include head/head

body
  header.header-holder

  main.page

    include blocks/products-catalog/products-catalog

  script(src="assets/libs/js/jquery-lib.js")
  script(src="assets/libs/js/detect.min.js")
  script(src="js/product-cards-behaviour.js" type="text/javascript")
