.product-card_disabled {

  .product-card__board {
    background: linear-gradient(135deg, transparent 31px, $colorProductCard--disabled 0);
  }

  .product-card__label,
  .product-card__body,
  .product-card__quantity,
  .product-card__quantity-measure,
  .product-card__customer-state,
  .product-card__bonus,
  .product-card__bonus-measure {
    color: $colorProductCard--disabled;
  }

  .product-card__footer {
    background: url("../img/cat-funbox_disabled.png") no-repeat 46% -21%;
  }

  .product-card__weight {
    background-color: $colorProductCard--disabled;
  }
}
