.product-card {
  position: relative;
  cursor: pointer;
  margin-bottom: 25px;

  @include respond-to-max($lg) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include respond-to-max($md) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include respond-to-max($sm) {
    padding-left: 0;
    padding-right: 0;
    max-width: 320px;
  }

  @include respond-to-max($md) {
    margin: 0 auto 15px;
  }

  &__board {
    width: 320px; //fix for issue with flex-box in safari 9.1.2
    position: relative;
    color: $colorBlack;
    overflow: hidden;
    background: linear-gradient(135deg, transparent 31px, $colorProductCard 0);
    padding: 4px;
    border-radius: 11px;
    user-select: none;
    margin-bottom: 15px;
  }

  &__container {
    @include flex(flex-start, unset, column nowrap);

    min-height: 472px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    color: $colorBlack;
    background: linear-gradient(135deg, transparent 29px, $colorProductCard-bg 0);
  }

  &__header {
    padding-top: 20px;
    padding-left: 44px;
    margin-bottom: 10px;
  }

  &__label {
    @include font(16px, 1, 400, normal, $font-family-base);

    color: $colorGray;
  }

  &__body {
    width: 100%;
    overflow: hidden;
    padding-left: 44px;
  }

  &__name {
    @include font(48px, 1, bold, normal, $font-family-base);

    margin-bottom: 4px;
  }

  &__taste {
    @include font(24px, 1, bold, normal, $font-family-base);

    margin-bottom: 17px
  }

  &__bonus,
  &__bonus-measure,
  &__quantity,
  &__quantity-measure,
  &__customer-state {
    @include font(14px, 16px, 300, normal, $font-family-base);

    color: $colorGray;
  }

  &__bonus,
  &__quantity {
    font-weight: 600;
  }

  &__footer {
    min-height: 285px;

    margin-top: auto;
    background: url("../img/cat-funbox.png") no-repeat 46% -21%;
  }

  &__weight {
    position: absolute;
    bottom: 10px;
    right: 10.5px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: $colorWhite;
    background-color: $colorProductCard;

    @include flex(center, center, column nowrap);
    @include font(42px, 38px, normal, normal, $font-family-base);
  }

  &__weight-measure {
    @include font(21px, 1, 100, normal, $font-family-base);
  }

  &__buy-btn {
    border-bottom: 1px dotted $colorProductCard;
    color: $colorProductCard;
    display: inline;
  }
}

.signature-origin,
.signature-selected,
.signature-disabled,
.signature-hidden {
  @include font(13px, 16px, 100, normal, $font-family-base);

  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: $colorWhite;
}

.signature-hidden {
  display: none;
}

.signature-disabled {
  color: $colorProductCard-signature--disabled;
}